/*div  {
    background: green;
}

div:hover {
    background-color:red;
    transition: 5ms;
}

*{
    color:yellow;
    font-family: Arial, Helvetica, sans-serif

}
.listMovies{
    height:200px;
    background:orange
}

#container {
    margin-left: 5px;
    margin-right: 5px;
}

div.headerOptions div > ul > li {
    background-color: white;
}*/